
<div ng-if="user == null">
	<button ng-click="login();">login</button>
</div>

<div ng-if="user != null">

	<h1>welcome, {{user}}</h1>
	
	<div ng-if="company == null">
		<ul>
			<li>
				<a href="#/iod">iod</a>
			</li>
			<li>
				<a href="#/rbs">rbs</a>
			</li>
		</ul>
	</div>
	
	<div ng-if="company != null">
		<ul>
			<li>
				<a href="#/{{company}}">home</a>
			</li>
			<li>
				<a href="#/{{company}}/admin">admin</a>
			</li>
			<li>
				<a href="#/">change company</a>
			</li>
		</ul>
	</div>
	
	<div ui-view></div>
	
</div>
