<form>

	<fieldset>
		
		<legend>login</legend>
		
		<label for="email">email</label>
		<input id="email" ng-model="email" />
		<br />
		
		<label for="password">password</label>
		<input id="password" ng-model="password" />
		<br />
			
		<button ng-click="login()">login</button>
		
	</fieldset>

	<fieldset>
		
		<legend>register</legend>
		
		<label for="name">name</label>
		<input id="name" ng-model="name" />
		<br />
		
		<label for="email">email</label>
		<input id="email" ng-model="email" />
		<br />
		
		<label for="password">password</label>
		<input id="password" ng-model="password" />
		<br />
		
		<label for="company">company</label>
		<input id="company" ng-model="company" />
		<br />
			
		<button ng-click="register()">register</button>
		
	</fieldset>
	
</form>
